.custom{
    color:black;
}

.btn-outline-primary{
    border: 2px solid #0eadb7;
    color: #0eadb7;
}

.btn-outline-primary:hover{
    border: 2px solid #0b868f;
    background-color: white;
    color: #0eadb7;
}


.btn-ps0{
    background-color:#0eadb7;
    color:white;
    border: none;
    margin-right: 10px;
    padding:8px;
}

.btn-ps0:hover{
    background-color: #0c97a1;
    color:white;
}

.btn-ps0:focus{
    outline: none;
    box-shadow: none;
}

.btn-ps0.active{
    background-color:#0eadb7 !important;
}

.card{
    margin: 10px;
    border-radius: 15px;
}

.bl{
    color:black;
}

.title{
    display: inline-block;
}

.icon{
    margin: 0px 0px 8px 8px;
    height: 32px;
    width: 32px;
    display: inline-block;
}

.form-control , .form-control:focus{
    background-color: #222831;
    border: 2px solid #01a8b0;
    color:white;
}

.form-control:focus{
    box-shadow: 1px 1px 1px 1px rgba(0,173,181,0.4);
}

.form-check-input{
    background-color: #222831;
    border: 2px solid #01a8b0;
    color:white;
}

.form-check-input:active, .form-check-input:checked{
    background-color: #01a8b0;
    border-color: #01a8b0;
}

.form-check-input:focus{
    outline: none;
    box-shadow: none;
}

.my-modal .modal-content {
    background-color: #222831;
    width: 50vw;
    max-width: 50vw;
  }

.form-control:disabled{
    background-color: #222831;
}